In [33]:
import pandas as pd
import numpy as np

In [35]:
#PythonDataCleaningUpper/csv/finalexams.csv

In [37]:
df = pd.read_csv(r"C:\Users\argje\OneDrive\Desktop\Machine Learning\PythonFinalExamOrganizer\DataofFinalDays\finalexams.csv")
df

,Course ID,Exam Component ID,Title,Date,Time,Building,Room,Instructor
0,ACCT115,1,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,WEST,LECT 2,Micale
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACCT115,3,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,ECEC,115,Ma
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACCT115,5,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda
...,...,...,...,...,...,...,...,...
2688,TRAN615,853,Traffic Studies and Capacity,12/17/2024,6:00PM-8:30PM,Online,NaN,Besenski
2689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2690,TRAN650,851,Urban Systems Engineering,12/18/2024,6:00PM-8:30PM,Online,NaN,Spasovic
2691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,TRAN650,853,Urban Systems Engineering,12/21/2024,6:00PM-8:30PM,Online,NaN,Spasovic

In [39]:
#We need to remove all these Nan as they were once separated by a line of commas
df_clean =df.dropna(how = 'all')
df_clean

,Course ID,Exam Component ID,Title,Date,Time,Building,Room,Instructor
0,ACCT115,1,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,WEST,LECT 2,Micale
2,ACCT115,3,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,ECEC,115,Ma
4,ACCT115,5,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda
6,ACCT115,7,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda
8,ACCT115,101,Fund of Financial Accounting,12/18/2024,6:00PM-8:30PM,WEST,LECT 2,Nwachuku
...,...,...,...,...,...,...,...,...
2684,TRAN610,101,Transportation Economics,12/16/2024,6:00PM-8:30PM,COLT,423,Dimitrijevic
2686,TRAN615,851,Traffic Studies and Capacity,12/18/2024,6:00PM-8:30PM,Online,NaN,Besenski
2688,TRAN615,853,Traffic Studies and Capacity,12/17/2024,6:00PM-8:30PM,Online,NaN,Besenski
2690,TRAN650,851,Urban Systems Engineering,12/18/2024,6:00PM-8:30PM,Online,NaN,Spasovic
2692,TRAN650,853,Urban Systems Engineering,12/21/2024,6:00PM-8:30PM,Online,NaN,Spasovic

In [41]:
#I want to select the column with all the course ids for I want to separate them later into two unique columns
df_clean[["Course ID"]]

     Course ID
0      ACCT115
2      ACCT115
4      ACCT115
6      ACCT115
8      ACCT115
...        ...
2684   TRAN610
2686   TRAN615
2688   TRAN615
2690   TRAN650
2692   TRAN650

[1347 rows x 1 columns]

In [43]:
print(df_clean.dtypes)

Course ID            object
Exam Component ID    object
Title                object
Date                 object
Time                 object
Building             object
Room                 object
Instructor           object
dtype: object

In [45]:
df_copy = df_clean.copy()

In [47]:
df_copy['Course ID']

0       ACCT115
2       ACCT115
4       ACCT115
6       ACCT115
8       ACCT115
         ...
2684    TRAN610
2686    TRAN615
2688    TRAN615
2690    TRAN650
2692    TRAN650
Name: Course ID, Length: 1347, dtype: object

In [49]:
#I need to convert this into a string so I can split it
df_copy['Course ID'] = df_copy['Course ID'].astype(str)

In [51]:
df_copy['Course ID']

0       ACCT115
2       ACCT115
4       ACCT115
6       ACCT115
8       ACCT115
         ...
2684    TRAN610
2686    TRAN615
2688    TRAN615
2690    TRAN650
2692    TRAN650
Name: Course ID, Length: 1347, dtype: object

In [53]:
#df_copy['Course ID'].str.extract(r'([A-Za-z]+)(\d+)')

In [55]:
#I have split the Course ID into the two important components: the class and class_level
# s? accounts for either a single or no space | s* accounts for multiple space or no spaces
df_copy[['class', 'class_level']] = df_copy['Course ID'].str.extract(r'([A-Za-z]{2,4})\s*(\d{3})')
df_copy

,Course ID,Exam Component ID,Title,Date,Time,Building,Room,Instructor,class,class_level
0,ACCT115,1,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,WEST,LECT 2,Micale,ACCT,115
2,ACCT115,3,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,ECEC,115,Ma,ACCT,115
4,ACCT115,5,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda,ACCT,115
6,ACCT115,7,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda,ACCT,115
8,ACCT115,101,Fund of Financial Accounting,12/18/2024,6:00PM-8:30PM,WEST,LECT 2,Nwachuku,ACCT,115
...,...,...,...,...,...,...,...,...,...,...
2684,TRAN610,101,Transportation Economics,12/16/2024,6:00PM-8:30PM,COLT,423,Dimitrijevic,TRAN,610
2686,TRAN615,851,Traffic Studies and Capacity,12/18/2024,6:00PM-8:30PM,Online,NaN,Besenski,TRAN,615
2688,TRAN615,853,Traffic Studies and Capacity,12/17/2024,6:00PM-8:30PM,Online,NaN,Besenski,TRAN,615
2690,TRAN650,851,Urban Systems Engineering,12/18/2024,6:00PM-8:30PM,Online,NaN,Spasovic,TRAN,650
2692,TRAN650,853,Urban Systems Engineering,12/21/2024,6:00PM-8:30PM,Online,NaN,Spasovic,TRAN,650

In [57]:
#So here I am going to delete the Course ID column and the Exam Component ID
df_copy = df_copy.drop(['Course ID'], axis = 1)
df_copy

,Exam Component ID,Title,Date,Time,Building,Room,Instructor,class,class_level
0,1,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,WEST,LECT 2,Micale,ACCT,115
2,3,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,ECEC,115,Ma,ACCT,115
4,5,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda,ACCT,115
6,7,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda,ACCT,115
8,101,Fund of Financial Accounting,12/18/2024,6:00PM-8:30PM,WEST,LECT 2,Nwachuku,ACCT,115
...,...,...,...,...,...,...,...,...,...
2684,101,Transportation Economics,12/16/2024,6:00PM-8:30PM,COLT,423,Dimitrijevic,TRAN,610
2686,851,Traffic Studies and Capacity,12/18/2024,6:00PM-8:30PM,Online,NaN,Besenski,TRAN,615
2688,853,Traffic Studies and Capacity,12/17/2024,6:00PM-8:30PM,Online,NaN,Besenski,TRAN,615
2690,851,Urban Systems Engineering,12/18/2024,6:00PM-8:30PM,Online,NaN,Spasovic,TRAN,650
2692,853,Urban Systems Engineering,12/21/2024,6:00PM-8:30PM,Online,NaN,Spasovic,TRAN,650

In [59]:
#df_copy.to_csv('df_finalExamsOrganizer')

In [61]:
#For the purpose of avoidng future complications I shall fill the columns in the Exam Component ID as three digits
df_copy['Exam Component ID'] = df_copy['Exam Component ID'].astype(str).str.zfill(3)
df_copy

,Exam Component ID,Title,Date,Time,Building,Room,Instructor,class,class_level
0,001,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,WEST,LECT 2,Micale,ACCT,115
2,003,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,ECEC,115,Ma,ACCT,115
4,005,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda,ACCT,115
6,007,Fund of Financial Accounting,12/17/2024,8:30AM-11:00AM,GITC,1400,Seda,ACCT,115
8,101,Fund of Financial Accounting,12/18/2024,6:00PM-8:30PM,WEST,LECT 2,Nwachuku,ACCT,115
...,...,...,...,...,...,...,...,...,...
2684,101,Transportation Economics,12/16/2024,6:00PM-8:30PM,COLT,423,Dimitrijevic,TRAN,610
2686,851,Traffic Studies and Capacity,12/18/2024,6:00PM-8:30PM,Online,NaN,Besenski,TRAN,615
2688,853,Traffic Studies and Capacity,12/17/2024,6:00PM-8:30PM,Online,NaN,Besenski,TRAN,615
2690,851,Urban Systems Engineering,12/18/2024,6:00PM-8:30PM,Online,NaN,Spasovic,TRAN,650
2692,853,Urban Systems Engineering,12/21/2024,6:00PM-8:30PM,Online,NaN,Spasovic,TRAN,650

In [63]:
df_copy.to_csv('df_finalExamsOrganizer1')